body {
	border-color: #B22222;
	border-style: solid;
	border-width: 15px;
	padding: 10px;
	font-family: 'Dosis', sans-serif;
	text-align: left;
}

h2 {
	border: 10px solid transparent;
	padding: 10px;
}

#reviewImage {
	width: 300px;
	height: 200px;
}