<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<title>A Review</title>
	<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<h1>Beverage Review</h1>

	<div th:each="review: ${reviewsModel}">
		<p th:text="${review.name}"></p>
		<p th:text="${review.description}"></p>
		<img id="reviewImage" img th:src="${review.image}">

		<h3>Category for this review</h3>
		<div th:each="category: ${review.beverage}">
			<a th:href="@{/category(id=${category.id})}"
				th:text="${category.beverage}"></a>
		</div>

		<h3>Tags associated with this review</h3>
		<div th:each="tag: ${review.tags}">
			<a th:href="@{/tag(id=${tag.id})}" th:text="${tag.description}"></a>
		</div>

		<form method="Post">
			<input name="reviewId" type="hidden" th:value="${review.id}" /> <input
				type="text" name="tagName" />
			<button th:formaction="@{/add-tag}">Add Tag with HTML forms</button>
		</form>



		<form method="Post">
			<input name="reviewId" type="hidden" th:value="${review.id}" />
			<ul>
				<li th:each="tag: ${review.tags}"><span
					th:text="${tag.description}"></span>
					<button id="x" name="tagId" th:value="${tag.id}"
						th:formaction="@{remove-tag-button}">&times;</button>
			</ul>
		</form>

		<div class="add-comment">
			<form method="POST">
				<section>
					<label>Enter your name:</label> <input type="text" name="author" />
				</section>

				<section>
					<label>What do you think of this review?</label> <input type="text"
						name="content" />
				</section>

				<section>
					<input type="hidden" th:value="${reviewsModel.id}" name="reviewId" />
				</section>

				<section>
					<button th:formaction="@{/add-comment}">Add Comment</button>
				</section>
			</form>

			<div th:each="comment: ${reviewsModel.comments}">
				<h5>
					<span th:text="${comment.author}">Commenter</span> says . . .
				</h5>
				<p th:text="${comment.content}"></p>
			</div>
		</div>
	</div>

	<a href="http://localhost:8080/show-reviews">Back to Home</a>

</body>
</html>